spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/storez}
    username: ${SPRING_DATASOURCE_USERNAME:storez}
    password: ${SPRING_DATASOURCE_PASSWORD:storez}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  session:
    store-type: none

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

server:
  servlet:
    session:
      cookie:
        same-site: lax
        secure: false
